/******** VARIABILI *********/
$primary-color:#373f6f;
$secondary-color: #0ACE99;
$black: #000;
$third-color: $black;
$white: #fff;
$fourth-color: $white;

$font-size-text: 14px;
$font-size-h1: 24px;


/******** GENERAL *********/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: $black;
}

.btn {
  display: inline-block;
  border-radius: 50px;
  padding: 14px 28px;
  color: $secondary-color;
  text-transform: uppercase;
  border: 1px solid $secondary-color;
  font-size: 1.4rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: transparent;
  cursor: pointer;
}

.btn:hover {
  background: $secondary-color;
  color: $fourth-color;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.active {
  background: $secondary-color;
  border-radius: 3px;
}

img {
  width: 100%;
}

.title {
  font-size: 2.2rem;
}

main {
  min-height: calc(100vh - 138.5px - 104px);
  padding-top: 68.5px;
}

.features {
  padding: 120px 0;
  text-align: center;
}

header {
  background: rgba(53, 63, 111, 0.7);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

header .logo-container {
  padding: 8px;
}

header img {
  width: 50px;
}

header {
  nav {
    background: $primary-color;
    padding: 10px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }  
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 5px 10px;
        text-transform: uppercase;
        color: $white;
      }
    }
  img {
    width: 50px;
  }

 }
}


.hero {
  position: relative;
  padding: 100px 0;
  color: $white;
}

.hero:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 600px;
  background: -webkit-gradient(linear, left top, right top, from($primary-color), to(rgba(189, 27, 27, 0.74))), url("../../src/images/iphone-bg.jpg") no-repeat center fixed/cover;
  background: linear-gradient(to right, $primary-color, rgba(189, 27, 27, 0.74)), url("../../src/images/iphone-bg.jpg") no-repeat center fixed/cover;
  z-index: -1000;
  top: 0;
  left: 0;
  -webkit-transform: skew(0deg, -7deg);
          transform: skew(0deg, -7deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.hero {
  video {
  width: 100%;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
  }

  & .hero-caption {
    padding: 20px 20px;
  }

  & .title {
    font-size: 28px;
  }

  & .subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  & .btn {
    margin-top: 30px;
  }

  hr {
    border: 0;
    border-top: 4px solid $secondary-color;
    margin-left: 0;
    margin-top: 10px;
    width: 30px;
  }
}

#contact-form {
  background-color: $primary-color;
  background-image: url("../../src/images/world.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
  color: $white;

  hr {
    border: 0;
    border-top: 4px solid $white;
    margin-left: 0;
    margin-top: 10px;
    width: 60px;
  }
  & .submit {
    text-align: center;
  }
  
  & .form-group {
    padding: 0 0 10px;
  }
  
  #contact-form input, #contact-form textarea, #contact-form select {
    display: block;
    width: 100%;
    border: 1px solid  $white;
  }
  
   label {
    display: block;
    padding-bottom: 5px;
  }
  
   input {
    height: 40px;
    border-radius: 3px;
    padding: 0 15px;
  }
  
   textarea {
    border-radius: 3px;
    padding: 15px;
  }
  
   form {
    margin: 0 -15px;
  }

}
#contact-form .form-wrapper .message, #contact-form .form-wrapper .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
}

#contact-form .form-wrapper .message .form-group {
  height: 100%;
}

#contact-form .form-wrapper .message textarea {
  height: calc(100% - 23px);
}

footer {
  text-align: center;
  padding: 15px;

    &.main {
      img {
      width: 24px;
     }
      a {
      display: inline-block;
      padding: 5px 10px;
     }
      p {
      font-size: 1.2rem;
     } 
    }  
}

@media only screen and (min-width: 768px) {
  .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav {
    background: transparent;
  }
  
}

@media only screen and (min-width: 992px) {
  .hero .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  .hero video {
    width: 65%;
  }
  nav li a {
    -webkit-transition: background .3s;
    transition: background .3s;
  }
  nav li a {
    &:hover {
      background: $primary-color;
      border-radius: 3px;
    }
    &:focus {
      background: $secondary-color;
      border-radius: 3px;
    }
  }
}

@media only screen and (max-width: 767px) {
  header nav li a {
    color: $white;
  }
  nav {
    margin: 0 -15px;
  }
}
/*# sourceMappingURL=main.css.map */

